html {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.screen {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1em;
    margin: 1em 0.5em 0.5em 0.5em;
}

.footer {
    display: flex;
    flex-direction: row;
    background-color: rgb(41, 42, 45);
    color: white;
    padding: 0.25em;
}