.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.screen {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1em;
    margin: 0.5em;
}

.footer {
    display: flex;
    flex-direction: row;
    background-color: rgb(128, 128, 128);
    padding: 0.5em;
}